<div>
    <div *ngIf="currentTutorial.id" class="edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="form-group">
          <label for="title">Titre</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTutorial.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTutorial.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Statut:</strong></label>
          {{ currentTutorial.published ? "Publié" : "En attente" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentTutorial.published"
        (click)="updatePublished(false)"
      >
        Annuler publication
      </button>
      <button
        *ngIf="!currentTutorial.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publier
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
        Supprimer
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTutorial()"
      >
        Modifier
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTutorial.id">
      <br />
      <p>Impossible d'accéder au tutoriel...</p>
    </div>
  </div>